$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0 0 10rem 0;
}

.intro {
  transition: opacity 0.8s ease-in-out;
  &.ng-hide {
    opacity: 0;
  }
  button {
    width: 25rem;
    margin: 1rem;
  }
}

.header {
  margin-bottom: 0;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.row.title {
  input {
    border: none;
    font-size: 3rem;
    width: 100%;
    margin: 0 0 2rem;
    font-family: monospace;
    &:focus, &:active {
      border: none;
      outline: none;
    }
  }
}

/* Custom page footer */
.footer {
  border-top: 5px solid $brand-primary;
  padding: 1.5rem 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10rem;
  font-size: 2rem;
  background: $gray-dark;
  color: $gray-light;
  transition: bottom 2s ease-in-out;
  transition-delay: 5s;
  &.ng-hide {
    bottom: -15rem;
  }
  button {
    margin: 1.5rem 0;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.row.title, .row.bonuses {
  transition: opacity 1s ease-in-out;
  transition-delay: 1s;
  &.ng-hide {
    opacity: 0;
  }
}

.row.bonuses {
  table {
    thead {
      th {
        background-color: $brand-primary;
        color: #fff;
        // cost column
        &:last-child {
          width: 6rem;
        }
      }
    }
    tbody {
      tr[ng-click] {
        cursor: pointer;
      }
    }
  }
}
