<div class="row intro" ng-hide="currentGame">
  <div class="jumbotron">
    <h1>EE Civilization Editor</h1>

    <p class="lead">
      Simply create your Empire Earth Civilization, including selecting a power multiple times!
    </p>

    <p class="small">Do you want to create a civ for “<em>Empire Earth</em>” or for “<em>Empire Earth: The Art Of Conquest?</em>”</p>

    <p class="text-center">
      <button class="btn btn-lg btn-success" ng-click="selectGame('ee')">Just EE</button>
      <button class="btn btn-lg btn-success" ng-click="selectGame('aoe')">EE with AoE</button>
    </p>

  </div>
</div>
<div class="row title" ng-show="currentGame">
  <div class="col-xs-12">
    <input focus-me="focusCivName" type="text" ng-model="civilizationName" placeholder="Unnamed Civilization">
  </div>
</div>
<div class="row bonuses" ng-show="currentGame">
  <div class="col-xs-6">
    <table class="table table-condensed table-hover header-fixed">
      <thead>
        <tr>
          <th>Civilization Bonuses</th>
          <th class="text-right">Cost</th>
        </tr>
      </thead>
      <tbody ng-repeat="category in civInfo[currentGame]">
        <tr ng-if="selectedBonuses[category]">
          <th>{{ category }}</th>
          <th class="text-right">{{ getSelectedCosts(category) }}</th>
        </tr>
        <tr ng-repeat="bonus in selectedBonuses[category] track by $index" ng-click="removeBonus(category, bonus)">
          <td>{{ bonus.name }}</td>
          <td class="text-right">
            {{ bonus.costs }}
            <strong ng-if="getExtraCosts(category, $index) > 0" class="text-danger">+ {{ getExtraCosts(category, $index) }}</strong>
            <span ng-if="getExtraCosts(category, $index) > 0">({{ getCosts(bonus, category, $index) }})</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table table-condensed table-hover header-fixed">
      <thead>
        <tr>
          <th>Available Bonuses</th>
          <th class="text-right">Cost</th>
        </tr>
      </thead>
      <tbody ng-repeat="category in civInfo[currentGame]">
        <tr ng-click="toggleAvailableCategory(category)">
          <th>{{ category }}</th>
          <th class="text-right">{{ civInfo['categories'][category].category_cost }}</th>
        </tr>
        <tr ng-repeat="bonus in civInfo['categories'][category].bonuses"
            ng-show="civInfo['categories'][category].show"
            ng-click="addBonus(category, bonus)"
            ng-class="{'too-expensive': getCosts(bonus, category) > getPointsLeft()}">
          <td>{{ bonus.name }}</td>
          <td class="text-right">
            {{ bonus.costs }}
            <strong ng-if="getExtraCosts(category) > 0" class="text-danger">+ {{ getExtraCosts(category) }}</strong>
            <span ng-if="getExtraCosts(category) > 0">({{ getCosts(bonus, category) }})</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer" ng-show="currentGame">
  <div class="container">
    <div class="col-xs-6">
      <p>
        <strong>Total Points Spent
        <span class="pull-right" ng-class="{'text-danger': getTotalCosts() > 100, 'text-success': getTotalCosts() === 100}">{{ getTotalCosts() }}</span></strong>
      </p>

      <p>
        <strong>Points Left
        <span class="pull-right" ng-class="{'text-danger': getPointsLeft() < 0, 'text-success': getPointsLeft() === 0}">{{ getPointsLeft() }}</span></strong>
      </p>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-success btn-lg pull-right" ng-click="downloadCiv()">Download Civilization</button>
    </div>
  </div>
</div>
