<div class="row bonuses">
  <div class="col-xs-6">
    <table class="table table-condensed table-hover header-fixed">
      <thead>
        <tr>
          <th>Civilization Bonuses</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody ng-repeat="category in civInfo[currentGame]">
        <tr ng-if="selectedBonuses[category]">
          <th>{{ category }}</th>
          <th>0</th>
        </tr>
        <tr ng-repeat="bonus in selectedBonuses[category] track by $index" ng-click="removeBonus(category, bonus)">
          <td>{{ bonus.name }}</td>
          <td>{{ bonus.costs }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table table-condensed table-hover header-fixed">
      <thead>
        <tr>
          <th>Available Bonuses</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody ng-repeat="category in civInfo[currentGame]">
        <tr ng-click="toggleAvailableCategory(category)">
          <th>{{ category }}</th>
          <th ng-class="{'text-danger': false}">+0</th>
        </tr>
        <tr ng-repeat="bonus in civInfo['categories'][category].bonuses" ng-show="civInfo['categories'][category].show"
            ng-click="addBonus(category, bonus)">
          <td>{{ bonus.name }}</td>
          <td>{{ bonus.costs }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <p><strong>Total Points Spent <span class="pull-right">0</span></strong></p>
      <p><strong>Points Left <span class="pull-right">100</span></strong></p>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-success btn-lg pull-right">Download Civilization</button>
    </div>
  </div>
</div>
